{% extends "base.html" %}

{% block content %}

<article>
    <section id="post_title">
        <h1 class="post_title"><a href="#">{{ page.title }}</a></h1>
    </section>

    <section id="post_content">
        <div class="row-fluid">
            <div class="span9" id="post_article">
                {{ page.content }}
            </div>
            {% if page.translations %}
            <div class="span1 offset2 languages">
                {% for translation in page.translations %}
                <a class="translation" href="{{ SITEURL }}/{{ translation.url }}"><i class="icon-edit"></i>{{ translation.lang }}</a>
                {% endfor %}
            </div>
            {% else %}
            <div class="span1 offset2">&nbsp;</div>
            {% endif %}
        </div>
    </section>

</article>

{% endblock %}