{% extends "base.html" %}

{% block content %}

<article>
    <section id="post_title">
        <h1 class="post_title">Tag: {{ tag }}</h1>
    </section>
    <section id="post_content">
        <div class="row-fluid">
            <div class="span9">
                <header>
                    <h3 class="post_title">{{ tag }}</h3>
                </header>
                <ul>
                {% for article in articles %}
                {% if not article.translation %}
                    <li><a href="{{ SITEURL }}/{{ article.url }}" style="color: #000001">{{ article.title }}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</article>

{% endblock %}